@import '../../shared/variables.scss';
@import '../../shared/mixins.scss';

.favPage-wrapper {
    .favPage-subcontainer {
        @include flex;
        align-items: flex-start;
        .favPage-list{
            gap: 30px;
            @include flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
}