@import '../../shared/variables.scss';
@import '../../shared/mixins.scss';

.usernameWrapper {
    @include flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;

    button {
        background-color: $primary-color;
        color: $context-color-white;
        width: 50%;
        height: 40px;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
    }
}