@import '../../shared/variables.scss';
@import '../../shared/mixins.scss';

.usernameWrapper {
    @include flex;
    color: $context-color-white;
    gap: 5px;
    cursor: pointer;

    div {
        background-color: $primary-color;
        width: 56px;
        height: 56px;
        border-radius: 10px;
        text-align: center;
        line-height: 56px;
    }
}