@import '../../shared/variables.scss';
@import '../../shared/mixins.scss';

.settings-page-wrapper {
    @include flex;
    align-items: flex-start;

    section {
        width: 100%;
        height: 100%;


        .settings-theme-container,
        .settings-email-container {
            margin-top: 16px;
            width: 100%;
            @include flex;
            justify-content: space-between;
            border: 2px solid $graphite;
            border-radius: 10px;
            height: 100px;
            padding: 24px 40px;

            p {
                font-weight: 600;

            }
        }

        .settings-email-container {
            justify-content: flex-start;
            margin-bottom: 40px;

            p {
                font-weight: 600;
                margin-right: 15%
            }

            .error {
                color: $context-color-error;
                width: 100%;
            }
        }
    }
}