@import '../../shared/variables.scss';
@import '../../shared/mixins.scss';

.searchPage-wrapper {
    @include flex;
    align-items: flex-start;

    .searchMovies {
        @include flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}