@import '../../shared/variables.scss';
@import '../../shared/mixins.scss';

.aside-wrapper{
    @include flex;
    flex-direction: column;
    width: 230px;
    align-items: flex-start;
    // margin-right: 6%;
    flex-shrink: 0;
}