@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,600;1,400&display=swap');
@import '../../shared/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: inherit;
    border: none;
}

body {
    font-family: "Exo 2", sans-serif;
    padding: 48px 62px 64px 64px;
    background-color: $context-color-white;
    color: $bg-color-black;
}

.dark {
    font-family: "Exo 2", sans-serif;
    background-color: $bg-color-black;
    color: $context-color-white;
    padding: 48px 62px 64px 64px;
}


@media screen and (max-width: 900px) {
    body {
        font-family: "Exo 2", sans-serif;
        padding: 28px 32px 70px 34px;
        background-color: $context-color-white;
        color: $bg-color-black;
    }

    .dark {
        font-family: "Exo 2", sans-serif;
        background-color: $bg-color-black;
        color: $context-color-white;
        padding: 28px 32px 70px 34px;
    }
}