@import '../../shared/variables.scss';
@import '../../shared/mixins.scss';


.movieList-container {
    @include flex;
    flex-direction: column;

    .moviesList-subcontainer {
        @include flex;
        flex-wrap: wrap;
        // gap: 40px;
        // border: 1px solid red;
        margin-bottom: 72px;
        justify-content: space-evenly;
    }
}