@import '../../shared/variables.scss';
@import '../../shared/mixins.scss';
.favPage-image-wrapper {
    align-self: center;
    margin: 20px 20%;
    @include flex;
    flex-direction: column;

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;  
        margin-bottom: 2em; 
    }

    h3{
        background-color: $context-color-error;
        @include desktop-h3;
        color: $context-color-white;
        padding: 4px 8px;
        border-radius: 10px;
    }
}