//colors
$primary-color: #7B61FF;
$primary-color2: #917CFF;
$secondary-color: #80858B;
$bg-color-dark: #242426;
$bg-color-black: #000;
$graphite: #323537;
$context-color-error: #FF5154;
$context-color-light: #AFB2B6;
$context-color-white: #FFF;
$tertiary-color-green: #00A340;
$tertiary-color-yellow: #F3A608;
$tertiary-color-orange: #F45D2D;
