@import '../../shared/variables.scss';
@import '../../shared/mixins.scss';

.header {
    @include flex;
    justify-content: space-between;
    margin-bottom: 64px;
}


@media screen and (max-width: 900px) {

    .header {
        margin-bottom: 44px;
        flex-wrap: wrap;

        .switch-wrapper {
            display: none;
        }

        .searchWrapper {
            order: 2;
        }

    }

}