@import '../../shared/variables.scss';
@import '../../shared/mixins.scss';

.moviePage-wrapper {
    @include flex;
    // gap: 42px;
    align-items: flex-start;
    justify-content: flex-start;

    .image-wrapper{
        flex-shrink: 0;
    }

    .moviePage__right-side{
        margin-left: 42px;
        max-width: 670px;
        min-width: 272px;
        border: 1px solid red;
    }

    h1{
        margin-bottom: 26px;
    }

    p {
        margin: 40px 0;
    }
}