@import '../../shared/variables.scss';
@import '../../shared/mixins.scss';

.moviePage-wrapper {
    @include flex;
    align-items: flex-start;
    justify-content: flex-start;

    .moviePage__left-side {
        flex-shrink: 0;
    }

    .moviePage__right-side {
        margin-left: 42px;
        max-width: 670px;
        min-width: 272px;

        .movie-page-rating-container {
            @include flex;

            span {
                background-color: $graphite;
                border-radius: 10px;
                padding: 4px 8px;
                margin-left: 5px;
                color: $context-color-white;
                font-weight: 600;
                
            }

            span:first-of-type {
                background-color: $tertiary-color-green;
            }
            span:nth-of-type(2)::before{
                content:"IMDb ";
                font-weight: 800;
            }

        }
    }

    h1 {
        margin-bottom: 26px;
    }

    p {
        margin: 40px 0;
    }

    .movie-page-button {
        width: 100%;
        height: 56px;
        margin-top: 32px;
        border-radius: 10px;
        cursor: pointer;
        @include bodytext;
        font-weight: 600;
        background-color: $context-color-light;
        color: $bg-color-black;
        text-transform: capitalize;

        &:hover {
            filter: drop-shadow(0 0 0.75rem $context-color-light);
        }
    }

    .movie-page-button_active {
        text-transform: capitalize;
        width: 100%;
        height: 56px;
        margin-top: 32px;
        border-radius: 10px;
        cursor: pointer;
        @include bodytext;
        font-weight: 600;
        color: $context-color-white;
        background-color: $primary-color;

        &:hover {
            filter: drop-shadow(0 0 0.75rem $primary-color);
        }
    }
}

@media screen and (max-width: 590px) {
    .moviePage-wrapper {
        flex-direction: column;
        align-items: center;

        h1 {
            margin-bottom: 16px;
        }

        p {
            margin: 20px 0;
        }

        .moviePage__left-side {
            margin-bottom: 20px;
        }
    }
}