@import '../../shared/variables.scss';
@import '../../shared/mixins.scss';

.filter-page-wrapper {
    section {
        @include flex;
        align-items: flex-start;
        margin-top: 64px;
        justify-content: flex-start;

        .filtered-movies-list {
            @include flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    }
}

@media screen and (max-width: 900px) {
    .filter-page-wrapper {
        section {
            .filtered-movies-list {
                gap: 5px;
            }
        }
    }
}