@import '../../shared/variables.scss';
@import '../../shared/mixins.scss';

.sign-form {
    @include flex;
    flex-direction: column;
    align-items: center;
    border: 2.5px solid $context-color-light;
    padding: 10px;
    border-radius: 10px;

    h2 {
        margin-bottom: 40px;
        align-self: flex-start;
    }

    a {
        color: $secondary-color;
        text-decoration: none;
        align-self: flex-start;
    }

    p {
        a {
            color: $primary-color;
            margin-left: 5px;
        }
    }
}
