@import '../../shared/variables.scss';
@import '../../shared/mixins.scss';

.similar-movies-wrapper {
    h3 {
        @include desktop-h3;
        margin-bottom: 40px
    }

    .similar-movies-subcontainer {
        @include flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}

.no-movies-h3 {
    margin-left: 40%;
    color: $context-color-error;
}