@import '../../shared/variables.scss';
@import '../../shared/mixins.scss';

.sign-page {
    @include flex;
    flex-direction: column;

    .sign-page-logo {
        align-self: flex-start;
    }

    .sign-page__form {
        width: 574px;
        padding: 40px;
        border: 1px solid red;
        border-radius: 10px;
    }
}