@import '../../shared/variables.scss';
@import '../../shared/mixins.scss';

.sign-page {
    @include flex;
    flex-direction: column;

    .sign-page__form {
        width: 574px;
        padding: 40px;
        border-radius: 10px;
    }
}