@import '../../shared/variables.scss';
@import '../../shared/mixins.scss';

.sign-page {
    @include flex;
    flex-direction: column;

    .sign-page__form {
        width: 574px;
        padding: 40px;
        border-radius: 10px;
    }
}


@media screen and (max-width: 510px) {
    .sign-page {


        .sign-page__form {
            width: 100%;
            padding: 0px;
            border-radius: 10px;
        }
    }
}